html {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:visited {
    color: white;
    text-decoration: none;

}

a:link {
    color: white;
    text-decoration: none;
}

.tabsBar div {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    width: 30%;
    border-top: solid 1px #555;
    border-left: solid 1px #555;
    border-right: solid 1px #555;
    border-bottom: solid 0px #555;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #555;
}

.tabsBar div:hover {
    background-color: cadetblue;
}

.tabsBar div a:link {
    color: #555;
}

.tabsBar div.active {
    position: relative;
    top: 1px;
    z-index: 1000;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    width: 30%;
    border-top: solid 1px #FFF;
    border-left: solid 1px #FFF;
    border-right: solid 1px #FFF;
    border-bottom: solid 1px #000;
}

.tabsBar div.active a:link {
    color: #FFF;
}

.tabContent {
    z-index: 500;
    border: solid 1px;
    padding: 5px;
    box-shadow: 5px 5px 10px cadetblue;

}

.telemetry {
    height: 200px;
}

input {
    border-radius: 5px;
    border: solid 1px rgb(176, 177, 147);
    font-size: 16px;
    box-shadow: 2px 2px 5px cadetblue;

}

.header {
    display: inline-block;
    vertical-align: top;
}

.header img {
    border-radius: 10px;
    box-shadow: 0px 0px 50px;
}

.header div {
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
}

.header div h2 {
    margin: 0 0 0 0;
}

  /* elevator button base style */
  .elevatorBtn {
    width:56px;
    height:56px;
    border-radius:50%;
    font-weight:bold;
    margin-right:8px;
    border:2px solid #444;
    background:#eee;
    box-shadow:0 10px #999;
    transition: transform 80ms, box-shadow 80ms, background-color 120ms;
    cursor: pointer;
  }
  /* pressed state: moves down and changes color */
  .elevatorBtn.pressed,
  .elevatorBtn:active {
    transform: translateY(2px);
    box-shadow: 0 0px #666;
    background: linear-gradient(#00d, #f90);
  }